<nav class="navbar navbar-expand-lg navbar-dark ">
    <a class=" navbar-brand text-white" href="/">COVID-19 Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-white" href="/">Home </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-white" href="/faq">FAQ's</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-white" href="/faq">Sources</a>
            </li>
        </ul>
        <span class="navbar-text">
            <button id="toggleModeBtn" class="btn rounded-circle my-2 my-sm-0" type="submit"></button>
        </span>
    </div>
</nav>