<!DOCTYPE html>
<html lang="en">

<%- include('includes/head'); %>

<body class="bg-dark text-white" style="height: 100vh;">
    <%- include('includes/header'); %>


    <main class="container-fluid px-5 ">
        <div class=" row mb-3">
            <div class="col-md-8">
                <h3>Countries and Territories with confirmed cases: <span id="countryCount" class=""><i
                            class="fas fa-circle-notch fa-spin"></i></span></h3>
                <button id="refreshBtn" class="btn btn-dark"><i id="refreshSpinner" class="fas fa-sync"></i></button>
            </div>
            <div class="col-md-4">
                <h3 class="float-right">Last Update: <span id="updateTime"><i
                            class="fas fa-circle-notch fa-spin"></i></span></h3>
            </div>
        </div>
        <hr>
        <div class="row " style="justify-content:center;">
            <div class="col-md-3 col-sm-12 text-center">
                <div class=" card  bg-warning mb-3">
                    <div class="card-header">Confirmed Cases</div>
                    <div class="card-body">
                        <h3 class="card-title">
                            <i class="fas fa-diagnoses"></i> <span class="counter" id="totalCases"><i
                                    class="fas fa-circle-notch fa-spin"></i></span>
                        </h3>
                        <span class="badge  badge-light" id="totalCasesToday">
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 text-center">
                <div class=" card text-white bg-danger mb-3">
                    <div class="card-header">Confirmed Deaths</div>

                    <div class="card-body">
                        <h3 class="card-title">
                            <i class="fas fa-skull"></i> <span class="counter" id="totalDeaths"><i
                                    class="fas fa-circle-notch fa-spin"></i></span>
                        </h3>
                        <span class="badge  badge-light" id="totalDeathsToday">
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 text-center">
                <div class=" card text-white bg-success mb-3">
                    <div class="card-header">Confirmed Recoveries</div>
                    <div class="card-body">
                        <h3 class="card-title">
                            <i class="fas fa-plus"></i>
                            <span class="counter" id="totalRecoveries"><i
                                    class="fas fa-circle-notch fa-spin"></i></span>
                        </h3>
                        <span class="badge  badge-light"> </span>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-5 mx-auto col-offset-2">
                <div class=" shadow card  bg-dark text-white">
                    <div class="card-header text-center">
                        <h5>Active Cases</h5>
                    </div>
                    <div class="card-body">
                        <h1 class="text-center"><span id="totalActiveCases"><i
                                    class="fas fa-circle-notch fa-spin"></i></span></h1>
                        <div class="row text-center mt-1">
                            <div class="col-md-6">
                                <h6>Mild Cases:
                                    <span class="text-info" id="totalActiveMild">
                                        <i class="fas fa-circle-notch fa-spin"></i>
                                    </span>

                                </h6>
                                <span class="badge badge-light" id="totalActiveMildPerc">
                                </span>
                            </div>
                            <div class="col-md-6">
                                <h6>Severe Cases:
                                    <span class="text-warning" id="totalActiveSevere">
                                        <i class="fas fa-circle-notch fa-spin"></i>
                                    </span>

                                </h6>
                                <span class="badge  badge-light" id="totalActiveSeverePerc">
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mx-auto">
                <div class="shadow card  bg-dark text-white">
                    <div class="card-header text-center">
                        <h5>Closed Cases</h5>
                    </div>
                    <div class="card-body">
                        <h1 class="text-center"><span id="totalClosedCases"><i
                                    class="fas fa-circle-notch fa-spin"></i></span></h1>
                        <div class="row text-center mt-1">
                            <div class="col-md-6 col-xs-6">
                                <h6>Recoveries: <span class="text-success" id="totalClosedRecoveries"><i
                                            class="fas fa-circle-notch fa-spin"></i></span></h6>
                                <span class="badge  badge-light" id="totalClosedRecoveriesPerc">
                                </span>
                            </div>

                            <div class="col-md-6 col-xs-6">
                                <h6>Deaths: <span class="text-danger" id="totalClosedDeaths"><i
                                            class="fas fa-circle-notch fa-spin"></i></span></h6>
                                <span class="badge  badge-light" id="totalClosedDeathsPerc">
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row text-dark mt-3">
            <div class="col-md-4 mb-3">

                <h4 class="text-white">Confirmed Cases by Country/Region:</h4>
                <div class="row">
                    <button
                        class="regionSwitchers btn rounded-pill btn-sm btn-outline-info active ml-2 mt-1">All</button>
                    <button class="regionSwitchers btn rounded-pill btn-sm btn-outline-info ml-2 mt-1">South
                        America</button>
                    <button class="regionSwitchers btn rounded-pill btn-sm btn-outline-info ml-2 mt-1">North
                        America</button>
                    <button class="regionSwitchers btn rounded-pill btn-sm btn-outline-info ml-2 mt-1">Europe</button>
                    <button class="regionSwitchers btn rounded-pill btn-sm btn-outline-info ml-2 mt-1">Asia</button>
                    <button class="regionSwitchers btn rounded-pill btn-sm btn-outline-info ml-2 mt-1">Africa</button>
                    <button class="regionSwitchers btn rounded-pill btn-sm btn-outline-info ml-2 mt-1">Oceania</button>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <p class="text-white">Starred Countries:</p>
                    </div>
                    <div class="col">
                        <div id="starredContainer" class="my-1"></div>
                    </div>
                </div>

                <div class="shadow card bg-dark mb-3">
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="flagIconAddon"><i class="fa fa-flag"></i></span>
                            </div>
                            <input type="text" class="form-control" id="countrySearch" placeholder="Country/Province"
                                aria-label="Country" aria-describedby="flagIconAddon">
                        </div>
                        <i class="fas fa-circle-notch fa-spin text-white"></i>
                        <ul class="list-group overflow-auto " id="countryList" style="height: 50vh;">

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 md-3">
                <h4 class="text-white">Country Details:</h4>
                <div class="shadow card bg-dark text-white">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-2">
                                <img id="countryFlag" class="img-thumbnail">
                            </div>
                            <div class="col-md-10">
                                <h1 id="countryDetailName" class="rounded float-left align-middle"></h1>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-5">
                            <div class="col-md-4">
                                <div class="shadow card bg-dark text-white">
                                    <div class="card-header text-center">
                                        <h5>Total Cases</h5>
                                    </div>
                                    <div class="card-body">
                                        <p>Cases: <span class="text-warning" id="countryDetailTotalCases"></span></p>
                                        <p>Recoveries: <span class="text-success"
                                                id="countryDetailTotalRecoveries"></span>
                                        </p>
                                        <p>Deaths: <span class="text-danger" id="countryDetailTotalDeaths"></span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="display: none" id="activeCasesContainer">
                                <div class="shadow card bg-dark text-white">
                                    <div class="card-header text-center">
                                        <h5>Active Cases</h5>
                                    </div>
                                    <div class="card-body">
                                        <p>Cases: <span class="text-warning" id="countryActiveTotalCases"></span></p>
                                        <p>Mild Cases: <span class="text-info" id="countryActiveMild"></span>
                                        </p>
                                        <p>Severe Cases: <span class="text-warning" id="countryActiveSevere"></span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="display: none" id="closedCasesContainer">
                                <div class="shadow card bg-dark text-white">
                                    <div class="card-header text-center">
                                        <h5>Closed Cases</h5>
                                    </div>
                                    <div class="card-body">
                                        <p>Cases: <span class="text-warning" id="countryClosedTotalCases"></span></p>
                                        <p>Recoveries: <span class="text-success"
                                                id="countryClosedTotalRecoveries"></span>
                                        </p>
                                        <p>Deaths: <span class="text-danger" id="countryClosedTotalDeaths"></span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" style="display: none" id="testContainer">
                                <div class="shadow card bg-dark text-white">
                                    <div class="card-header text-center">
                                        <h5>Testing</h5>
                                    </div>
                                    <div class="card-body">
                                        <p>Total People Tested: <span id="countryTotalTested"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-5" id="stateContainer" style="display: none;">
                            <div class="col">
                                <div class="shadow card bg-dark text-white">
                                    <div class="card-header text-center">
                                        <h5>States</h5>
                                        <span class="badge badge-info badge-pill ml-1">Info</span>
                                        <span class="badge badge-warning badge-pill ml-1">Confirmed</span>
                                        <span class="badge badge-danger badge-pill ml-1">Deaths</span>
                                        <span class="badge badge-primary badge-pill ml-1">Tests</span>
                                    </div>
                                    <div class="card-body">
                                        <div class="stateContainer row">
                                            <div class="col">
                                                <ul class="stateList list-group" id="stateList1"></ul>
                                            </div>
                                            <div class="col">
                                                <ul class="stateList list-group" id="stateList2"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <%- include('includes/footer'); %>
    <script type="module" src="js/home.js"></script>

</body>


</html>