<!DOCTYPE html>
<html lang="en">

<%- include('includes/head'); %>


<body class="bg-dark text-white" style="height: 100vh; overflow-y: hidden;">
    <%- include('includes/header'); %>

    <main class="container-fluid overflow-hidden">
        <div class="row">
            <div class="col-md-3 overflow-auto" style="padding-left: 0; padding-right: 0; ">
                <div>
                    <div class="card-body bg-dark shadow-lg" style="height: 90vh;">
                        <h5>Coronavirus (COVID-19) Tracker</h5>
                        <hr>
                        <div class="alert alert-danger" role="alert">
                            This page is still in development
                        </div>
                        <p>
                            Coronavirus (COVID-19) which is an infectious disease caused by respiratory illness and
                            symptoms like flu, cough, fever, difficulty breathing, on December 31, 2019, the first case
                            was recorded in Wuhan, China and later the virus got spread around the world.
                        </p>
                        <br>
                        <!-- <p>To get up to date results, this page collects the data from <a
                                href="https://github.com/CSSEGISandData/COVID-19">Johns Hopkins
                                University
                                Center for Systems Science and Engineering (JHU CSSE)</a>.
                        </p> -->
                        Last updated:
                        <br>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="card bg-warning text-center p-2" id="totalCases">

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card bg-danger text-center p-2" id="totalDeaths">

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card bg-success text-center p-2" id="totalRecoveries">

                                </div>
                            </div>
                        </div>

                        <div class="input-group mt-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="Search"><i class="fas fa-search"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                                aria-describedby="Search">
                        </div>
                        <br>
                        <ul class="list-group" id="countriesContainer">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9" style="padding-left: 0; padding-right: 0;">
                <div id='map' class="text-dark" style='height:90vh;'></div>
            </div>
        </div>
    </main>


    <%- include('includes/footer'); %>
    <script type="module" src="js/map.js"></script>
</body>

</html>