<!DOCTYPE html>
<html lang="en">

<%- include('includes/head'); %>


<body class="bg-dark text-white h-100">
    <%- include('includes/header'); %>

    <main class="container-fluid px-5 h-75">
        <div class="row justify-content-center">
            <div class="col-md-4 col-offset-4 tex-center">
                <h1>Welcome to the Covid19 Tracker</h1>
                <p> The sources used to provide you with the most up to date information are listed below
            </div>
            </p>
        </div>
        <div class="row justify-content-center ">
            <div class="col-md-6 ">
                <div class="card bg-dark">
                    <div class="card-header">
                        Sources
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item bg-dark text-white">

                                <h5><i class="fab fa-github"></i> <a href="https://github.com/CSSEGISandData/COVID-19">
                                        John Hopkins University</a>
                                </h5>
                            </li>
                            <li class="list-group-item bg-dark text-white">
                                <h5><i class="fas fa-globe-europe"></i> <a target="_black"
                                        href="https://www.worldometers.info/coronavirus/">
                                        Worldometer</a>
                                </h5>
                            </li>
                            <li class="list-group-item bg-dark text-white">
                                <h5><i class="fas fa-globe-europe"></i> <a target="_black" href="https://www.cdc.gov">
                                        Center for Disease Control and Prevention</a>
                                </h5>
                            </li>
                            <li class="list-group-item bg-dark text-white">
                                <h5><i class="fas fa-globe-europe"></i> <a target="_black" href="https://covid-19.sr">
                                        COVID SURINAME – National Emergency Center </a>
                                </h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <%- include('includes/footer'); %>
</body>

</html>