<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corona Tracker</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/44901ff75a.js" crossorigin="anonymous" defer></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css' rel='stylesheet' />
    <link rel='icon' href='https://icons8.com/icon/31670/coronavirus' type='image/x-icon' />
    <link rel="manifest" href="./manifest.json">
</head>

<body class="bg-dark text-white" style="height: 100vh;">
    <%- include('includes/header'); %>

    <main class="container-fluid px-5 h-100">
        <div class="row justify-content-center">
            <div class="col-md-4 col-offset-4 tex-center">
                <h1>Welcome to the nCovid19 Tracker</h1>
                <p> The sources used to provide you with the most up to date information are listed below
            </div>
            </p>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-4 ">
                <div class="card bg-dark">
                    <div class="card-header">
                        Sources
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item bg-dark text-white">

                                <h5><i class="fab fa-github"></i> <a href="https://github.com/CSSEGISandData/COVID-19">
                                        John Hopkins University</a>
                                </h5>
                            </li>
                            <li class="list-group-item bg-dark text-white">
                                <h5><i class="fas fa-globe-europe"></i> <a target="_black"
                                        href="https://www.worldometers.info/coronavirus/">
                                        Worldometer</a>
                                </h5>
                            </li>
                            <li class="list-group-item bg-dark text-white">
                                <h5><i class="fas fa-globe-europe"></i> <a target="_black" href="https://www.cdc.gov">
                                        Center for Disease Control and Prevention</a>
                                </h5>
                            </li>
                            <li class="list-group-item bg-dark text-white">
                                <h5><i class="fas fa-globe-europe"></i> <a target="_black" href="https://covid-19.sr">
                                        COVID SURINAME – National Emergency Center </a>
                                </h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <%- include('includes/footer'); %>
    <script type="module" src="js/faq.js"></script>
</body>

</html>